<div class="a_course_details">
    <div class="a_img_container">
    	{{#if figure }}
            <img src="res/images/corsi/{{ figure }}">
        {{/if}}
        <div class="a_social">
            <div class="a_ribbon"></div>
            <div class="a_share"></div>
            <div class="a_comment"></div>
        </div>
    </div>
    <p  class="a_button a_light_cta a_light_button" role="button">Iscriviti</p>
    <h2>{{ title }} </h2>
    <p>{{description}}</p>
    <div class="a_line"></div>
    <p>Author</p>
</div>