<div class="a_person_details">
	<section class="a_light-well">
		<section class="a_user-details">
			<img src="res/images/corsi/4.jpg" class="a_user-img" alt="Michael Peterson">
            <div class="a_user-info">
            	<h1>Michael Peterson</h1>
                <p><a href="#">www.mikesphotos.com</a></p>
            </div>
		</section>
    </section>
</div>
<div class="a_tab_container">
    <div class="a_tab a_tab_container_inner">
	    <p class="a_tab a_tab_button a_down a_pinned">Pinned</p>
	    <p class="a_tab a_tab_button a_followed">Followed</p>
    </div>
</div>
<ul class="a_list" id="a_list_pinned">
</ul>
<ul class="a_list a_hide" id="a_list_followed">
</ul>